.form-control {
    position: relative;
  
    &.has-error {
      border-color: red;
  
      &:after {
        content: "!";
        position: absolute;
        top: 50%;
        right: 10px; 
        transform: translateY(-50%);
        color: red;
        font-weight: bold;
      }
    }
  }
  