@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --bg-header: #22242a;
    --bg-sidebar: #2f323a;
    --bg-piscina: #59b6ae;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-header);
}

header .left-area {
    padding-left: 25px;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
}

header .left-area h3 {
    font-weight: 900;
}

header .left-area span {
    color: #59b6ae;
}

header .right-area {
    padding-right: 25px;
}

header .right-area .logout-btn {
    color: white;
    padding: 10px;
    background-color: var(--bg-piscina);
    border-radius: 2px;
    transition: background-color 0.5s;
}

header .right-area .logout-btn:hover {
    background-color: #317779;
}

header .right-area .logout-btn i {
    width: 20px;
    margin-left: 4px;
}

#check {
    display: none;
}

header label {
    color: white;
    position: fixed;
    left: 300px;
}

header label #hamburguer {
    font-size: 30px;
    cursor: pointer;
}

#check:checked ~ .sidebar {
    left: -180px;
}

#check:checked ~ .sidebar nav span {
    display: none;
}

#check:checked ~ .sidebar nav a {
    margin-left: 172px;
    /*font-size: 23px;*/
}

#check:checked ~ .sidebar center > h4 {
    visibility: hidden;
}

#check:checked ~ .content {
    margin-left: 70px;
}

.sidebar {
    position: fixed;
    left: 0;
    margin-top: 70px;
    width: 250px;
    height: calc(100vh - 70px);
    background-color: var(--bg-sidebar);
    transition: left 0.5s;
    box-shadow: 3px 0 10px var(--bg-sidebar);
    z-index: 1;
    overflow: auto;
}

.sidebar .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 35px;
}

.sidebar h4 {
    color: #fff;
    font-size: 1.3rem;
    transition: all 0.5s;
}

.sidebar nav {
    margin-top: 20px;
}

.sidebar nav a {
    display: block;
    color: white;
    font-size: 1.2rem;
    line-height: 50px;
    padding: 0 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    transition: background-color 0.5s;
}

.sidebar nav a span {
    transition: display 1s;
}

.sidebar nav a:hover {
    background-color: var(--bg-piscina);
}

.sidebar nav a i {
    width: 30px;
    transition: all 0.5s;
}

.content {
    margin-left: 250px;
    position: fixed;
    top: 70px;
    transition: margin-left 0.5s;
    max-height: calc(100% - 70px);
    overflow-y: auto;
}

.content .wrapper {
    padding: 10px;
    margin-left: 5px;
}

.content .wrapper p {
    text-indent: 30px;
    padding: 15px 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track - barra por onde o scroll vai rolar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle - scroll bar em si*/
::-webkit-scrollbar-thumb {
    background: var(--bg-header);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 700px) {
    header .right-area {
        display: none;
    }

    header label {
        left: initial;
        right: 20px;
    }

    .sidebar {
        left: -250px;
    }

    #check:checked ~ .sidebar {
        left: 0;
    }

    #check:checked ~ .sidebar nav span {
        display: inline-block;
    }

    #check:checked ~ .sidebar nav a {
        margin-left: 0;
        /*font-size: 23px;*/
    }

    #check:checked ~ .sidebar center > h4 {
        visibility: initial;
    }

    .content {
        margin-left: 0;
    }

    #check:checked ~ .content {
        margin-left: 0;
    }

    /*

    #check:checked ~ .sidebar {
        left: 0;
    }

    #check:checked ~ .sidebar nav span {
        display: block;
    }

    #check:checked ~ .sidebar nav i {
        margin-left: 175px;
        width: 80px;
    }

    #check:checked ~ .sidebar center > h4 {
        visibility: hidden;
    }
    */
}
