@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    background: #8a8383 !important;
    /* background-color: white; */   
}

a {
    text-decoration: none !important;
}

/* #Title {
  background-color: #42428a !important;
  color: #0a0a0a !important;
} */

.Title {
  background-color: #42428a !important;
  color: #0a0a0a !important;
}

#title_name {
  text-transform: uppercase !important;
  text-align: center !important;
  font-weight:800 !important;
}

#title_description_job {
  text-transform: capitalize !important;
  text-align: center !important;
}

.iconic-sectionTitle {
  text-align: start !important;
  display: flex !important;
  gap: 5px !important;
  width: auto !important;
  justify-content: space-between !important;
}

.parentTitle{
  columns: 1;
  gap: 10px;
  padding: 10px;
  margin: 0 auto;
}

.childtitle{
  padding: 10px;
  background-color: white;
  display: inline-block;
  width: 100%;  
}

.parent{
  columns: 2;
  gap: 10px;
  padding: 5px;
  margin: 0 auto;
}

.child{
  padding: 10px;
  background-color: white;
  display: inline-block;
  width: 100%;  
  margin-bottom: 5px;
}

.iconic-section {
  text-align: start !important;
  display: block !important;
  width: auto !important;
  justify-content: space-between !important;
}

  /* .summary{
    background-color: #15a308 !important;
  }
  .skills{
    background-color: #15a308 !important;
  }
  .education{
    background-color: #15a308 !important;
  }

  .certification{
    background-color: #15a308 !important;
  }
  
  .work-experience{
    background-color: #15a308 !important;
  }
  
  .hobbies{
    background-color: #15a308 !important;
  }
  
  .personal-projects {
    background-color: #15a308 !important;
  }
  
  .languages {
    background-color: #15a308 !important;
  }
  
  .programming {
    background-color: #15a308 !important;
  }
  
  .reference {
    background-color: #15a308 !important;
  } */
  
  /* .Title {
    background-color: #15a308 !important;
    color: aliceblue !important;
    font-weight: 500 !important;
  } */

/* @media print {
    body {
        margin: 0 !important;
        box-shadow: 0 !important;
    }
} */

