@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: inherit !important;
}

/* body {
    background: #8a8383 !important;
    background-color: #555 !important;
    background-color: white;   
} */

a {
    text-decoration: none !important;
}

/* #Title {
  background-color: #42428a !important;
  color: #0a0a0a !important;
} */

/* .Title {
  background-color: #42428a !important;
  color: #0a0a0a !important;
} */

#title_name {
  text-transform: uppercase !important;
  text-align: center !important;
  font-weight: 800 !important;
}

#title_description_job {
  text-transform: capitalize !important;
  text-align: center !important;
}

.iconic-sectionTitle {
  text-align: start !important;
  display: flex !important;
  gap: 5px !important;
  width: auto !important;
  justify-content: space-between !important;
}

.parentTitle{
  columns: 1 !important;
  gap: 10px !important;
  padding: 5px !important;
  margin: 0 !important;
  width: 100% !important; 
}

.childtitle{
  padding: 5px !important;
  /* background-color: #42428a !important;
  color: #0a0a0a !important; */
  display: inline-block !important;
  width: 100% !important;  
}

.parent{
  columns: 2 !important;
  gap: 10px !important;
  padding: 5px !important;
  margin: 0  !important;
}

.child{
  padding: 5px !important;
  background-color: white !important;
  display: inline-block !important;
  width: 100% !important;  
  margin-bottom: 5px !important;
}

.iconic-section {
  text-align: start !important;
  display: block !important;
  width: auto !important;
  justify-content: space-between !important;
}

.carousel-item img {
  height: 400px !important;
  width: auto;
}


/* .router-link-exact-active {
  color: #12b488;
} */

  /* .summary{
    background-color: #15a308 !important;
  }
  .skills{
    background-color: #15a308 !important;
  }
  .education{
    background-color: #15a308 !important;
  }

  .certification{
    background-color: #15a308 !important;
  }
  
  .work-experience{
    background-color: #15a308 !important;
  }
  
  .hobbies{
    background-color: #15a308 !important;
  }
  
  .personal-projects {
    background-color: #15a308 !important;
  }
  
  .languages {
    background-color: #15a308 !important;
  }
  
  .programming {
    background-color: #15a308 !important;
  }
  
  .reference {
    background-color: #15a308 !important;
  } */
  
  /* .Title {
    background-color: #15a308 !important;
    color: aliceblue !important;
    font-weight: 500 !important;
  } */

/* @media print {
    body {
        margin: 0 !important;
        box-shadow: 0 !important;
    }
} */
